[Desktop Entry]
Name=BluMach
GenericName=Classic PC emulator
Comment=An emulator for classic IBM PC clones
Exec=BluMach
Icon=io.github.BluMach.BluMach
Terminal=false
Type=Application
Categories=System;Emulator;
